body {
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(#6249BA, rgba(239, 239, 240, 0.8));
            color: #434242;
    }
        .hero {
            background: #2484BF center/cover;
            color: white;
            text-align: center;
            padding: 40px 20px;
            border-radius: 10px;
        }
        .btn-custom {
            background-color: #231b95;
            color: white;
            border-radius: 20px;
            padding: 10px 20px;
        }
        .btn-custom:hover {
            background-color: #1f38f1;
        }
        .pro-card {
        text-align: center;
        transition: transform 0.2s ease;
        border: none;
        border-radius: 12px;
        }

        .pro-card:hover {
        transform: scale(1.02);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        .card-icon {
        font-size: 40px;
        margin-bottom: 10px;
        }

        .pro-card.highlight {
        background: linear-gradient(135deg, #667eea, #2484BF); /* El mismo degradado morado */
        color: white;
        }

        .pro-card.highlight .card-title,
        .pro-card.highlight .card-text,
        .pro-card.highlight ul {
        color: rgb(250, 250, 250);
        }
       .lista-1 {
        font-family: 'Caveat', cursive;
        font-size: 0.95rem;
        color: #060606;
        }
        .lista-2 {
        font-family: 'Caveat', cursive;
        font-size: 0.95rem;
        color: #fbf8f8;
        }
        .gif{
            width:40px;
        }

        .consejos-bold {
            font-weight: bold;
        }
        